In [3]:
import numpy as np
import pandas as pd

In [1]:
%%bash
blastp -db /home/Pam/db/CF413.proteins -query /home/Pam/db/aa/Nara.fasta -num_threads 8 -evalue 1E-5 -outfmt 6 -out /home/Pam/reciprocal_best_blast_hits/Nara.vs.C413.blastp.out
blastp -db /home/Pam/db/Nara.proteins -query /home/Pam/db/aa/CF413.fasta -num_threads 8 -evalue 1E-5 -outfmt 6 -out /home/Pam/reciprocal_best_blast_hits/C413.vs.Nara.blastp.out

In [4]:
df1 = pd.read_csv("/home/Pam/reciprocal_best_blast_hits/C413.vs.Nara.blastp.out",header=None,sep="\t")
df2 = pd.read_csv("/home/Pam/reciprocal_best_blast_hits/Nara.vs.C413.blastp.out",header=None,sep="\t")
df1.columns=["qseqid","sseqid","pident","length","mismatch","gapopen","qstart","qend","sstart","send","evalue","bitscore"]
df2.columns=["qseqid","sseqid","pident","length","mismatch","gapopen","qstart","qend","sstart","send","evalue","bitscore"]
df1.head()

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,CGCF413_v001909.t1,CGGC5_v001972.t1,100.000,67,0,0,1,67,1,67,3.520000e-45,137.0
1,CGCF413_v001908.t1,CGGC5_v001971.t1,100.000,291,0,0,1,291,1,291,0.000000e+00,596.0
2,CGCF413_v001901.t1,CGGC5_v001964.t1,100.000,462,0,0,1,462,1,462,0.000000e+00,927.0
3,CGCF413_v001901.t1,CGGC5_v008318.t1,51.899,474,211,5,1,462,1,469,5.920000e-166,475.0
4,CGCF413_v001901.t1,CGGC5_v004816.t1,50.676,444,200,5,17,460,41,465,4.520000e-161,462.0

In [7]:
#Select rows with minimum evalue for each query seq
df3=df1.loc[df1.groupby("qseqid")["evalue"].idxmin()]
df3.head()

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
15903,CGCF413_v000001.t1,CGGC5_v014269.t1,98.224,732,13,0,1,732,1,732,0.000000e+00,1484.0
15899,CGCF413_v000002.t1,CGGC5_v010543.t1,41.441,222,115,3,69,275,87,308,3.140000e-49,167.0
15892,CGCF413_v000003.t1,CGGC5_v000003.t1,99.015,203,2,0,1,203,1,203,3.780000e-149,411.0
16012,CGCF413_v000004.t1,CGGC5_v000004.t1,100.000,196,0,0,1,196,1,196,1.680000e-147,406.0
16005,CGCF413_v000005.t1,CGGC5_v000005.t1,99.107,336,3,0,1,336,49,384,0.000000e+00,703.0

In [8]:
#Select rows with minimum evalue for each query seq
df4=df2.loc[df2.groupby("qseqid")["evalue"].idxmin()]
df4.head()

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
15874,CGGC5_v000001.t1,CGCF413_v015494.t1,99.115,565,5,0,1,565,1,565,0.000000e+00,1150.0
15868,CGGC5_v000002.t1,CGCF413_v000002.t1,98.551,69,1,0,1,69,1,69,3.840000e-43,142.0
15863,CGGC5_v000003.t1,CGCF413_v000003.t1,99.015,203,2,0,1,203,1,203,3.500000e-149,411.0
15862,CGGC5_v000004.t1,CGCF413_v000004.t1,100.000,196,0,0,1,196,1,196,1.560000e-147,406.0
15855,CGGC5_v000005.t1,CGCF413_v000005.t1,99.107,336,3,0,49,384,1,336,0.000000e+00,703.0

In [9]:
df3.columns=["refid1","id","pident1","length1","mismatch1","gapopen1","qstart1","qend1","sstart1","send1","evalue1","bitscore1"]
df4.columns=["id","refid2","pident2","length2","mismatch2","gapopen2","qstart2","qend2","sstart2","send2","evalue2","bitscore2"]
df3.head()

,refid1,id,pident1,length1,mismatch1,gapopen1,qstart1,qend1,sstart1,send1,evalue1,bitscore1
15903,CGCF413_v000001.t1,CGGC5_v014269.t1,98.224,732,13,0,1,732,1,732,0.000000e+00,1484.0
15899,CGCF413_v000002.t1,CGGC5_v010543.t1,41.441,222,115,3,69,275,87,308,3.140000e-49,167.0
15892,CGCF413_v000003.t1,CGGC5_v000003.t1,99.015,203,2,0,1,203,1,203,3.780000e-149,411.0
16012,CGCF413_v000004.t1,CGGC5_v000004.t1,100.000,196,0,0,1,196,1,196,1.680000e-147,406.0
16005,CGCF413_v000005.t1,CGGC5_v000005.t1,99.107,336,3,0,1,336,49,384,0.000000e+00,703.0

In [10]:
#merge dataframes retaining only all rows all values
df5=pd.merge(df3,df4,how="outer",on="id")
df5.head()

,refid1,id,pident1,length1,mismatch1,gapopen1,qstart1,qend1,sstart1,send1,...,pident2,length2,mismatch2,gapopen2,qstart2,qend2,sstart2,send2,evalue2,bitscore2
0,CGCF413_v000001.t1,CGGC5_v014269.t1,98.224,732.0,13.0,0.0,1.0,732.0,1.0,732.0,...,98.199,1499.0,24.0,1.0,1.0,1499.0,1.0,1496.0,0.0,2999.0
1,CGCF413_v002089.t1,CGGC5_v014269.t1,95.804,1430.0,27.0,3.0,1.0,1409.0,1.0,1418.0,...,98.199,1499.0,24.0,1.0,1.0,1499.0,1.0,1496.0,0.0,2999.0
2,CGCF413_v006061.t1,CGGC5_v014269.t1,98.199,1499.0,24.0,1.0,1.0,1496.0,1.0,1499.0,...,98.199,1499.0,24.0,1.0,1.0,1499.0,1.0,1496.0,0.0,2999.0
3,CGCF413_v007887.t1,CGGC5_v014269.t1,98.269,1502.0,21.0,2.0,1.0,1500.0,1.0,1499.0,...,98.199,1499.0,24.0,1.0,1.0,1499.0,1.0,1496.0,0.0,2999.0
4,CGCF413_v009274.t1,CGGC5_v014269.t1,95.867,1500.0,24.0,3.0,16.0,1479.0,2.0,1499.0,...,98.199,1499.0,24.0,1.0,1.0,1499.0,1.0,1496.0,0.0,2999.0

In [11]:
df6=df5[["id","refid1","refid2","evalue1","evalue2"]]
df6.head()

                 id              refid1              refid2  evalue1  evalue2
0  CGGC5_v014269.t1  CGCF413_v000001.t1  CGCF413_v006061.t1      0.0      0.0
1  CGGC5_v014269.t1  CGCF413_v002089.t1  CGCF413_v006061.t1      0.0      0.0
2  CGGC5_v014269.t1  CGCF413_v006061.t1  CGCF413_v006061.t1      0.0      0.0
3  CGGC5_v014269.t1  CGCF413_v007887.t1  CGCF413_v006061.t1      0.0      0.0
4  CGGC5_v014269.t1  CGCF413_v009274.t1  CGCF413_v006061.t1      0.0      0.0

In [21]:
#Select rows where FANref1 is FANrefid2
df7=df6[df6["refid1"]==df6["refid2"]]
df7.head()

,id,refid1,refid2,evalue1,evalue2
2,CGGC5_v014269.t1,CGCF413_v006061.t1,CGCF413_v006061.t1,0.000000e+00,0.000000e+00
9,CGGC5_v010543.t1,CGCF413_v012115.t1,CGCF413_v012115.t1,0.000000e+00,0.000000e+00
10,CGGC5_v000003.t1,CGCF413_v000003.t1,CGCF413_v000003.t1,3.780000e-149,3.500000e-149
11,CGGC5_v000004.t1,CGCF413_v000004.t1,CGCF413_v000004.t1,1.680000e-147,1.560000e-147
12,CGGC5_v000005.t1,CGCF413_v000005.t1,CGCF413_v000005.t1,0.000000e+00,0.000000e+00

In [32]:
#list of sequences to match
query = ["CGGC5_v016292.t1"]

In [30]:
df7=df7.set_index(["id"])
df7.head()

,refid1,refid2,evalue1,evalue2
id,,,,
CGGC5_v014269.t1,CGCF413_v006061.t1,CGCF413_v006061.t1,0.000000e+00,0.000000e+00
CGGC5_v010543.t1,CGCF413_v012115.t1,CGCF413_v012115.t1,0.000000e+00,0.000000e+00
CGGC5_v000003.t1,CGCF413_v000003.t1,CGCF413_v000003.t1,3.780000e-149,3.500000e-149
CGGC5_v000004.t1,CGCF413_v000004.t1,CGCF413_v000004.t1,1.680000e-147,1.560000e-147
CGGC5_v000005.t1,CGCF413_v000005.t1,CGCF413_v000005.t1,0.000000e+00,0.000000e+00

In [33]:
df8=df7.loc[query]
df8

                              refid1              refid2  evalue1  evalue2
id
CGGC5_v016292.t1  CGCF413_v008088.t1  CGCF413_v008088.t1      0.0      0.0

In [28]:
df6[df6["id"]=="CGGC5_v016292.t1"]

,id,refid1,refid2,evalue1,evalue2
8084,CGGC5_v016292.t1,CGCF413_v008088.t1,CGCF413_v008088.t1,0.0,0.0

In [35]:
df7.to_csv("/home/Pam/reciprocal_best_blast_hits/RBH.Nara.CF413.csv",header=True)